* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    width: 1320px;
}

.header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('background2 img.png');
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 80px;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    padding: 20px 40px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

nav ul li {
    margin: 0 55px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav ul li span {
    color: rgb(86,42, 68);
}

nav ul li a:hover {
    color: #7c146c;
    text-decoration: underline;
}

.about-section {
    max-width: 900px;
    margin: 133px auto;
    padding: 40px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-content {
    max-width: 700px;
    margin: auto;
}

.about-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #333;
    text-align: justify;
}

.about-content p:last-child {
    margin-bottom: 0;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.footer-content {
    max-width: 900px;
    margin: auto;
}

.footer-content p {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}